[Desktop Entry]
Name=ClanBomber
Comment=ClanBomber Game
Comment[pl]=Gra ClanBomber
Exec=/usr/X11R6/bin/xterm -e clanbomber
Terminal=0
Type=Application
