[Desktop Entry]
Name=ClanBomber
Name[af]=KlanBommer
Name[eo]=KlanBombanto
Name[hu]=Bombarakó
Name[ja]=Clanボンバー
Name[pt_BR]=Bombardeio
Name[sv]=KlanBombare
Name[zh_CN]=炸弹人
Name[zh_TW]=ClanBomber 炸彈超人
Name[zu]=Ibutho Lomqhumisibhomu
Comment=ClanBomber Game
Comment[pl]=Gra ClanBomber
Icon=clanbomber.png
Exec=clanbomber
Terminal=0
Type=Application
# vi: encoding=utf-8
