[Desktop Entry]
Name=ClanBomber
Comment=ClanBomber Game
Comment[pl]=Gra ClanBomber
Icon=clanbomber.png
Exec=clanbomber
Terminal=0
Type=Application
# vi: encoding=utf-8
